.forum-main div.registration{
	width: 1165px;
	height: 518px;
	margin: 20px;
	margin-left: 55px;
	background-image: url('Images/Capture.PNG');
}


.forum-main div.post-box{
	background-color: #2DD0C6;
	border-radius: 15px;
	margin-left: 1em;
	width:90%;
	height: 110px;
	margin-bottom: 10px;
}

.forum-main div.post-box1{
	background-color: #8CE5DF;
	border-radius:  15px 0px 0px 15px;
	height: 110px;
	float:left;
	width: 8%;
}

.forum-main div.post-box2{

	border-radius:  0px 15px 15px 0px;
	float:right;
	height: 110px;

	width: 92%;
}

.forum-main div.post-info{

	border-radius:   0px 15px 0px 0px;
	background-color: #C5F2EF;
	height: 25px;

}

.forum-main div.user-name{
	float:left;
	font-family:verdana;
	font-size: 15px;
	width: 90%;

}

.forum-main div.post-date{

	float:left;
	width: 5%;

}

.forum-main div.post{
	padding: 10px;
	float:left;
	font-family:roboto;
	font-size: 18px;
	width: 97%;
}


.forum-main div.tag{
	padding-left: 2px;
	padding-right: 2px;
	border-width: 1px;
	border-left: solid black;
	float:left;
	font-family:roboto;
	font-size: 12px;
}
.forum-main h3.header-bottom-border{
	border-bottom: solid #2DD0C6;
	padding-top: 30px;
}

.forum-main div.reply-space{
	margin-left: 25px;
}


.forum-main div.reply-box{
	background-color: #2DD0C6;
	border-radius: 15px;
	width:90%;
	height: 40px;
	margin-bottom: 10px;

}

.forum-main div.reply-box1{
	background-color: #8CE5DF;
	border-radius:  15px 0px 0px 15px;
	display:inline-block;
	height: 40px;
	float:left;
	width: 8%;
}

.forum-main div.reply-box2{

	border-radius:  0px 15px 15px 0px;
	float:right;
	height: 40px;

	width: 92%;
}

.forum-main div.reply-info{
	font-size: 10px;
	border-radius:   0px 15px 0px 0px;
	background-color: #C5F2EF;
	height: 10px;
}


.forum-main div.reply-name{
	float:left;
	font-family:verdana;
	font-size: 10px;
	width: 90%;
}

.forum-main div.reply-post{
	float:left;
	font-family:roboto;
	font-size: 14px;
	width: 97%;
}

.forum-main div.Invisible{
	@media screen and (max-width: 600px) {
		.Invisible {
			visibility: hidden;
			clear: both;
			float: left;
			display: none;
		}
	} 
}

.forum-main div.forum-main {
	text-align: center;
}

.forum-main div.rating {
	position: relative;
}

.forum-main span.arrows {
	color: black;
}

.forum-main div.sexy-vote {
	text-align:center;
	padding-top:0.5em;
}

.forum-main div.post-text {
	text-align: left;
	font-size: 1.5em;
	text-indent: 0.3em;
}

.forum-main div.username {
	color: blue;
	float:left;
	clear:both;
	width:auto;
	margin-left: 1em;
	margin-top:0em;
	display:block;
	font-size: 0.5em;
}

.forum-main div.tags-container {
	flex-wrap: wrap;
	width: 70%;
	margin-left: 10em;
}
.forum-main .tags {
	float:left;
	margin-top: 0.5em;
	list-style-type: none;
	font-size: 0.7em;
	color: white;
	background-color: black;
	display:inline-block;
	border-radius: 2em;
	padding: 0em 1em;
	text-align: center;
	padding-left: 0.1em;
	margin-left:0.25em;
	margin-right:0.25;
	padding-bottom: 0.1em;
}
.forum-main .tags:hover {
	text-decoration: underline;
}


.forum-main div.post-text-div {
	width: auto; 
	display:inline-block;
	padding-top: 0.5em;
}

.forum-main div.post-text-div p {
	width: auto; 
	float:left;
	margin-bottom: 0em;
	display:block;
}

.forum-main .reply-and-tags {
	margin-left: 0.1em;
}


.forum-main .documents a {
	text-decoration: none;
	font-size:0.8em;
	margin-left:0.9em;
}

.forum-main .documents a:hover {
	text-decoration: underline;
}

.forum-main .documents {
	margin-top: 0.2em;
}